body{font-size:16px;}
h1 {font-size:1.3em}

header{align-items: center; background-color:#fff; color:#333;}
nav ul {height:100%}
nav ul li {margin-left:10px;}

.box_style1 {max-width:1100px; margin:0 auto; }

#main_section {min-height:calc(100vh - 160px); background-color:#B2D9DE; color:#fff}

footer{background-color:#595959; color:#fff;}
footer .box_style1 {height:80px;}

.game_c_list {width: 100vw; max-width: 1100px;}
.game_c_list ul {display:flex; flex-wrap: wrap; width:276px; justify-content: space-between;}
.game_c_list li {margin-bottom:20px; text-align:center}
.game_c_list li div.img_box{width:113px; height:153px; background-color:#fff; margin-bottom:10px; border-radius:50px;}

.game_t_div1 {}
.game_t_div1 p:nth-child(1) {font-size:1.4em; margin-bottom:10px; font-weight: 700; color:#F7A7CD;}
.game_t_div1 p:nth-child(2) {font-size:3em; margin-bottom:10px; font-weight: 700;}
.game_t_div1 button {background:none; border:0; padding:0;}

.play_area {position: relative; border:5px solid #333; min-height:calc(100vh - 260px); width:100vw; max-width:417px; padding:15px; background-color:#fff; border-radius:30px; color:#333;}
.pop_gr {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:#000; opacity:.4; z-index:49;}


@media (min-width:768px){
  header .box_style1 {height:80px}
  .pc_h {display:none !important;}
}

@media (max-width:1330px){
	.box_style1 {padding-left:30px; padding-right:30px;}
}

@media (max-width:768px){
  .md_h {display:none !important;}
  
  .head_araa .box_style1 {display: block; position:absolute; top:0; right:-300px; width:300px; height:100%; background:#333; color:#ffff; z-index:50;} 
  .head_araa .box_style1 h1 {padding:40px 0; border-bottom:1px solid #fff;}
  .head_araa nav ul{display:block; padding:30px 0;}
  .head_araa nav li {padding:10px 0;}
  .head_araa .md_footer {position:absolute; bottom:0; right:0; padding:30px; border-top:1px solid #fff;}
  
  .md_pop_show {position:fixed; top:20px; right:20px; z-index:2; border:0; background:0; padding:0;}
  .md_pop_close {position:absolute; top:30px; right:30px; background:0; border:0; color:#fff; padding:0;}

  .play_area {position:fixed; top:0; left:0; width:100vw; height:100vh; max-width:100vw; border:0; border-radius:0;}
}


.layer1
{
    position : absolute;
    top : 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding: 20px;
}
#game_start h2
{
    font-size: 48px;
}
#game_start .start_btn
{
    margin-top: 100px;
    width: 250px;
    border-radius: 15px;
    background-color: skyblue;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}